<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Using flask</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
<br>
Demo of using flask POST method
<br>
<form method = "POST">

<table>
    <tr>
       <td class="tdLeft">User name: </td>
	<br><td><input type="text" name="user" size="30" placeholder="Please input your user name"></td>
    </tr>

    <tr>
       <br><td class="tdLeft">Password: </td>
	<td><input type="password" name="password" size="30" placeholder="Please input your password"></td>
    </tr>

    <tr>
    <br><td>&nbsp;</td>
        <td style="padding-left:40px;padding-right:70px">
            <input type="submit" value="Submit">
        </td>
    </tr>


</table>    
</form>

</body>

</html>