.DS_Store
**/.DS_Store
.DS_Store?
*/.vscode

# latex
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.lof
*.lot
*.lol
*.listing
*.gz
*.nav
*.snm
*.vrb
*.xdv
*.bak
*.dvi
*.synctex
*.synctex.gz
*.bcf
*.run.xml
