[submodule "CS207 Digital Design/Project"]
	path = CS207 Digital Design/Project
	url = https://github.com/chanbengz/SUSTech_CS207_Project_Piano.git
[submodule "CS109 Intro2Programming in Java/2022_Fall/Project"]
	path = CS109 Intro2Programming in Java/2022_Fall/Project
	url = https://github.com/chanbengz/SUSTech_CS109_Project.git
[submodule "CS305 Computer Networks/Project"]
	path = CS305 Computer Networks/Project
	url = https://github.com/chanbengz/CS305_Project_2023F.git
