[submodule "CS109 Intro to Programming in Java/2022_Fall/Project"]
	path = CS109 Intro to Programming in Java/2022_Fall/Project
	url = https://github.com/chanbengz/SUSTech_CS109_Project.git
[submodule "CS202 Computer Organization/Project"]
	path = CS202 Computer Organization/Project
	url = https://github.com/wLUOw/SUSTech_CS202_MineCPU
[submodule "CS207 Digital Design/Project"]
	path = CS207 Digital Design/Project
	url = https://github.com/chanbengz/SUSTech_CS207_Project_Piano.git
[submodule "CS305 Computer Networks/Project"]
	path = CS305 Computer Networks/Project
	url = https://github.com/chanbengz/CS305_Project_2023F.git
[submodule "CS309 Object-Oriented Analysis and Design/Assignment"]
	path = CS309 Object-Oriented Analysis and Design/Assignment
	url = git@github.com:SUSTech-NINJA/Assignment.git
